@font-face {
  font-family: Rowdies;
  src: url(../fonts/Rowdies-Bold.ttf);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: helvetica;
}
body {
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#particles-js {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.particles-js-canvas-el {
  position: fixed;
  top: 0;
  z-index: 1;
}

.title {
  color: #fefefe;
  font-size: 2em;
  text-transform: uppercase;
  min-height: 40px;
}
.logo {
  position: absolute;
  top: 5px;
  left: 3px;
  width: 8rem;
  height: 2.5rem;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
img,
.buttom-nav {
  z-index: 4;
}
.buttom-nav {
  width: 95%;
  max-width: 400px;
  height: 70px;
  position: fixed;
  bottom: 0;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(121, 121, 252, 0.2);
  border-radius: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.bg-img-control {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.nav-btn {
  width: 55px;
  height: 55px;
  border: 1px solid #fefefe;
  background-color: transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  gap: 2px;
  color: #fefefe;
  cursor: pointer;
  z-index: 1;
}
.nav-icon {
  width: 35px;
  height: 35px;
}
.home-icon {
  background-image: url(../img/home-icon.png);
}
.about-icon {
  background-image: url(../img/about-icon.png);
}
.skill-icon {
  background-image: url(../img/skills-icon.png);
}
.contact-icon {
  background-image: url(../img/contact-icon.png);
}
.project-icon {
  background-image: url(../img/project-icon.png);
}
.section {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  width: 85%;
  min-height: 80vh;
  gap: 35px;
  padding-top: 40px;
  max-width: 830px;
}
.home-main-container,
.about-main-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.profile-img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 4px solid #fefefe;
}
.home-header-text {
  font-family: Rowdies !important;
  width: 95%;
  color: #fefefe;
  display: flex;
  flex-direction: column;
  font-size: 1.8em;
  gap: 3px;
}
.name-text {
  text-transform: uppercase;
  font-weight: 790;
}
.home-text-container {
  width: 95%;
  color: #fefefe;
  display: flex;
  justify-content: center;
}
.home-body-text,
.about-text {
  font-size: 1.7em;
  text-indent: 30px;
  width: 100%;
}

/* ABOUT */
.about-main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.about-container {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
}
.about-img {
  width: 50%;
  border-radius: 8px;
}
.about-text {
  color: #fefefe;
  width: 80%;
}

/* CONTACT  */
.contact-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}
.contact-me-container {
  z-index: 2;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.input-group {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.input-group > label {
  color: #fefefe;
  font-size: 1.2em;
}
.input-group > input,
.input-group textarea {
  color: #fefefe;
  font-size: 1.3em;
  background-color: transparent;
  outline: none;
  border: 3px solid rgba(121, 121, 252, 0.2);
  border-radius: 8px;
  padding: 7px 0px;
}
.input-group textarea {
  height: 150px;
  text-indent: 20px;
}
.send-btn {
  font-size: 1.8em;
  padding: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(121, 121, 252, 0.2);
  color: #fefefe;
}

@media only screen and (max-width: 800px) {
  .section {
    width: 85%;
    min-height: 80vh;
  }
  .header-container {
    gap: 8px;
  }
  .profile-img {
    width: 150px;
    height: 150px;
  }
  .home-header-text {
    font-size: 1.5em;
    gap: 2px;
  }
  .name-text {
    font-weight: 700;
  }
  .home-body-text,
  .about-text {
    font-size: 1.5em;
  }

  /* ABOUT */
  .about-img {
    width: 70%;
    max-width: 320px;
  }
}

@media only screen and (max-width: 700px) {
  .section {
    width: 95%;
    min-height: 80vh;
    gap: 20px;
  }
  .header-container {
    gap: 8px;
    flex-direction: column;
  }
  .profile-img {
    width: 120px;
    height: 120px;
  }
  .home-header-text {
    font-size: 1.1em;
    gap: 2px;
  }
  .name-text {
    font-weight: 700;
  }
  .home-body-text,
  .about-text {
    font-size: 1.3em;
  }

  /* ABOUT */
  .about-img {
    width: 70%;
    max-width: 250px;
  }
}
@media only screen and (max-width: 500px) {
  .buttom-nav {
    height: 55px;
    top: 95%;
  }
  .nav-btn {
    width: 45px;
    height: 45px;
  }
  .nav-icon {
    width: 25px;
    height: 25px;
  }

  .section {
    width: 95%;
    min-height: 80vh;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    padding-top: 0px;
    justify-content: center;
    top: 0%;
  }
  .home-main-container,
  .about-main-container {
    width: 100%;
    gap: 20px;
  }
  .header-container {
    gap: 5px;
  }
  .profile-img {
    width: 120px;
    height: 120px;
  }
  .home-header-text {
    font-size: 1.2em;
    word-spacing: 3px;
    gap: 2px;
  }
  .name-text {
    font-weight: 700;
  }
  .home-body-text,
  .about-text {
    font-size: 1.2em;
    word-spacing: 3px;
  }

  /* ABOUT */
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-img {
    width: 100%;
    height: 40vh;
  }
  .about-text {
    width: 95%;
  }

  /*Contact*/
  /* CONTACT  */
  .input-group textarea {
    height: 35vh;
    text-indent: 20px;
  }
  .send-btn {
    font-size: 1.4em;
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(121, 121, 252, 0.2);
    color: #fefefe;
  }
}

/*
@media only screen and (max-width: 376px) {
  .section {
    display: flex;
    /* flex-direction: column;
    justify-content: start; */
/* align-items: center;
    width: 95%;
    min-height: 80vh;
    gap: 15px;
    padding-top: 40px;
    justify-content: center;
  }
  .profile-img {
    width: 100px;
    height: 100px;
  }
  .home-header-text {
    width: 95%;
    color: #fefefe;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    gap: 3px;
  }
  .name-text {
    font-weight: 600;
  }

  .home-body-text,
  .about-text {
    font-size: 1.2em;
    text-indent: 20px;
  }
}

@media only screen and (min-height: 800px) {
  .buttom-nav {
    top: 95%;
  }
  .section {
    max-width: 90%;
    min-height: 80vh;
    gap: 30px;
    justify-content: center;
  }
  .profile-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid #fefefe;
  }
  .home-header-text {
    width: 95%;
    color: #fefefe;
    display: flex;
    flex-direction: column;
    font-size: 1.7em;
    gap: 3px;
  }
  .name-text {
    text-transform: uppercase;
    font-weight: 750;
  }
  .home-text-container {
    width: 95%;
    color: #fefefe;
  }
  .home-body-text,
  .about-text {
    font-size: 1.5em;
    text-indent: 20px;
  }
}

@media only screen and (max-height: 518px) {
  .logo {
    width: 7rem;
    height: 1.5rem;
  }
  .buttom-nav {
    height: 65px;
  }
  .nav-btn {
    width: 50px;
    height: 50px;
  }
  .nav-icon {
    width: 25px;
    height: 25px;
  }

  .section {
    max-width: 90%;
    min-height: 80vh;
    gap: 10px;
  }
  .profile-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 4px solid #fefefe;
  }
  .home-header-text {
    width: 95%;
    color: #fefefe;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    gap: 3px;
  }
  .name-text {
    text-transform: uppercase;
    font-weight: 750;
  }
  .home-text-container {
    width: 95%;
    color: #fefefe;
  }
  .home-body-text,
  .about-text {
    font-size: 1em;
    text-indent: 20px;
  }
}
*/
.nav-btn:hover {
  border: 1px solid #fdff96;
  color: #fdff96;
}
.home-icon:hover {
  background-image: url(../img/hover-home-icon.png);
}
.about-icon:hover {
  background-image: url(../img/hover-about-icon.png);
}
.skill-icon:hover {
  background-image: url(../img/hover-skills-icon.png);
}
.contact-icon:hover {
  background-image: url(../img/hover-contact-icon.png);
}
.project-icon:hover {
  background-image: url(../img/hover-project-icon.png);
}
.grow:hover {
  transform: scale(1.1);
  transition: 1s;
}
.hidden {
  display: none;
}
